@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans"),
  url("./assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "JosefinSans";
  font-weight: 600;
  src: local("JosefinSans"),
  url("./assets/fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf");
}

@font-face {
  font-family: "JosefinSans";
  font-weight: 900;
  src: local("JosefinSans"),
  url("./assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "JosefinSans";
  font-weight: 300;
  font-style: italic;
  src: local("JosefinSans"),
  url("./assets/fonts/Josefin_Sans/static/JosefinSans-LightItalic.ttf");
}

/* These two sections make a sticky footer */
#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section {
  flex: 1;
}