:root {
  --primary: #497573;
  --secondary: #ffffff;
  --tertiary: #b2c2c1;
  --quatrinary: #cadbda;
  --light: #e1f5f4;
  --dark: #000202;
  --error: rgb(228, 46, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
  background-color: #eceeee;
}

.bg-secondary {
  opacity: .3;
  color: var(--dark);
  background-color: #eceeee;
}