.nav-link {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease 0s;
    background: #e7e7e7
}

.nav-link:hover {
    color: #dc585d;
}

.nav-bar-menu {
    background: #e7e7e7
}

.nav-link a {
    background: #e7e7e7
}
